* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
}

nav a, button {
	min-width: 48 px;
	min-height: 48 px;
}

img, embed,
object, video {
	max-width: 100%;
}
.row {
    width: 100%;
    margin-bottom: 20px;
    display: flex;

}

#title-logo {
    margin-top: 10px;
    display: flex;

}

.footer {

	margin-top:20px
	width: 40%;
    margin-bottom: 20px;
    
}

body {
	font-family:'Prociono', sans-serif;
	color: #232830;
	font-weight: 400;

}

.text-muted {
	color: #bcbbbb;
}

.text-thin {
	font-weight: 300;
}

.title-super {
	font-size: 60px;
}


@media screen and (min-width: 320px) {
        .row2 {
          width: 100%;
          display: block;
        }
      }


@media screen and (min-width: 650px) {
        .row2 {
          width: 100%;
          display: block;
        }
      }


